body
  padding: 50px
  text-align center
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background silver
a
  color: #00B7FF

#openButton
  height 100px
  width 200px
  font-size 40px
  background lighten(silver, 5)


.cardListItem
  .card
    padding 10px
    color black

  .user
    padding 10px
    color #666
